*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}

.nav{
    background-color: #066d44;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    /* border: red solid 1px; */
}

.subnav{
    padding-left: 20px;
    position: relative;
    font-size: 30px;
    float: left;
    /* border: blue solid 1px; */
}

.subnav.satu{
    flex: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    color: white;
    margin: auto;
}

.subnav.dua{
    flex: 2;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.subnav.dua a{
    color: white;
    /* border: yellow solid 1px; */
    padding: 13px 25px 13px 25px;
    border-radius: 7px;
}

.subnav.dua a:hover{
    background-color: white;
    color: #066d44;
    cursor: pointer;
}

.subnav.tiga {
    flex: 1;
    font-size: 16px;
    text-align: right;
    margin: auto;
}

.subnav.tiga a{
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
}

.subnav.tiga a:hover{
    background-color: white;
    color: #066d44;
    cursor: pointer;
    border-radius: 3px;
}

.subnav.tiga button{
    border: 0;
    color: #066d44;
    font-size: 16px;
    background-color: white;
    margin: 0 20px 0 0;
    padding: 10px 20px 10px 20px;
}

.subnav.tiga button:hover{
    opacity: 80%;
    cursor: pointer;
}

/* DAFTAR MAKANAN */
.container{
    /* border: #066d44 solid 3px; */
    margin: 20px auto;
    display: flex;
}

.contain {
    border: #066d44 solid 1px;
    margin: 10px auto;
    padding: 10px ;
    width: 250px;
    display: flex;
    flex-direction: column;
}

.contain img{
    width: 250px;
}

.contain p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    background-color: #066d44;
    color: white;
    padding: 20px 0 20px 0;
    width: 100%;
}

/* FOOTER */
.footer {
    border: white solid 1px;
    background-color: #087D4E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    display: flex;
    flex-direction: row;
}

.subfoot{
    /* border: black solid 1px; */
    margin: 50px;
}

.subfoot.satu{
    flex: 2;
    text-align: right;
}
.subfoot.dua{
    flex: 1;
}
.subfoot.tiga{
    flex: 1;
}

.subfoot a{
    color: white;
    text-decoration: none;
    line-height: 30px;
}

/* JUDUL */

.judul{
    margin: 20px 0 0 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}